<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Farm Registration</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/AVfavicon.ico" sizes="any">
  <link rel="icon" href="/AVicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="AVlogo.png">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">
</head>
<body>
<body>
<div class="container">
  <!-- Image -->
  <img src="AVlogo.png" alt="Welcome Image" class="welcome-image">

  <!-- Welcome Message -->
  <h1 class="welcome-message">Welcome to the Employee Registration portal</h1>

  <!-- Registration for Form -->
  <form class="registration-form" Registration successful method>
    <h2>Farm Registration Form</h2>
    <div class="field">
      <label for="farmname">Farm Name:</label>
      <input type="text" id="farmname" name="farmname" required>
    </div>
    <div class="container">
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" required>
    </div>
    <div class="container">
      <label for="purpose">Breed:</label>
      <input type="text" id="purpose" name="purpose" required>
    </div>
    <!--submit button-->
    <button type="submit">Register Farm</button>
    <!--home button-->
    <div class="error-message">
      <button onclick="window.location.href='home.html'">Home</button>
    </div>
    <div class="container">
      <button onclick="window.location.href='contactus.html'">Contact us</button>
    </div>
  </form>

</div>
</body>

</body>
</html>
