<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/AVfavicon.ico" sizes="any">
  <link rel="icon" href="/AVicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="AVlogo.png">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">
</head>
<body>
  <div class="container">
    <!-- Image -->
    <img src="AVlogo.png" alt="Welcome Image" class="welcome-image">

    <!-- Welcome Message -->
    <p class="home-message">Welcome to your agro vision dashboard</p>
    <div class="dashboard">
      <p class="home-message">What would you like to do</p>
      <button onclick="window.location.href='farmregistration.html'">Farm Registration</button>
      <button onclick="window.location.href='animalregistration.html'">Animal Registration</button>
      <button onclick="window.location.href='employeeregistration.html'">Employee Registration</button>
    </div>
    <div class="container">
    <button onclick="window.location.href='index.html'">Logout</button>
    </div>
    <div class="container">
      <button onclick="window.location.href='contactus.html'">Contact us</button>
    </div>
  </div>
</body>
</html>
